<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App" %>
        <h2>Update to Assignment</h2>
    </div>

    <div class="main-content" style="font-size:16px">
        <p>Hello <%= @person_name %>,</p>
        <p>You have updated your assignment on a request.</p>

        <div class="info-section">
            <b>You're providing for this request:</b>
            <%= @title %><br><br>
            <b>What you're now providing:</b>
            <%= @resource_name %><br><br>
            <b>It's due on:</b>
            <%= @date %><br><br>
            <a href="<%= @request_link %>" class="button" style="text-decoration: none; color: #ffffff">View Request</a>
        </div>

        <p>You will receive an email the day before you're scheduled to provide for this request.</p>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
