<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App", style: "max-width: 150px;" %>
        <h2>New Request Created</h2>
    </div>

    <div class="main-content">
        <p>Hello <%= @recipient_name %>,</p>
        <p>
        A new request has been created for your organization. It is available on your dashboard for sign ups.
        </p>
        <div class="info-section">
            <b>Request Title:</b><br>
            <%= @title %><br>
            <b>Recipient:</b><br>
            <%= @recipient_name %><br>
            <b>Coordinator:</b><br>
            <%= @coordinator_name %><br>
            <a href="<%= @request_link %>" class="button">View Request</a>
        </div>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
