<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App" %>
        <h2>Request Canceled</h2>
    </div>

    <div class="main-content">
        <p>Hello <%= @person_name %>,</p>
        <p>
        A request you are providing for has been canceled. Your assignment to the request has been removed.
        </p>
        <div class="info-section">
            <b>Request Title:</b>
            <%= @title %><br><br>
            <b>Recipient:</b>
            <%= @recipient_name %><br><br>
            <b>Coordinator:</b>
            <%= @coordinator_name %><br><br>
        </div>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
