<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App" %>
        <h2>Recipient for New Request</h2>
    </div>

    <div class="main-content">
        <p>Hello <%= @person_name %>,</p>
        <p>
        A new request you are Recipient of has been created for your organization. Review the details below.
        </p>
        <div class="info-section">
            <b>Request Title:</b>
            <%= @title %><br><br>
            <b>Coordinator:</b>
            <%= @coordinator_name %><br><br>
            <a href="<%= @request_link %>" class="button">View Request</a>
        </div>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
