<div class="container">
    <div class="header">
        <%= image_tag attachments["logo.png"].url, alt: "Benevolence App", style: "max-width: 150px;" %>
        <h2>Request Canceled</h2>
    </div>

    <div class="main-content">
        <p>Hello <%= @person_name %>,</p>
        <p>
        A request has been canceled in your organization. If this was done in error, you will have to recreate the request.
        </p>
        <div class="info-section">
            <b>Request Title:</b><br>
            <%= @title %><br>
            <b>Recipient:</b><br>
            <%= @recipient_name %><br>
            <b>Coordinator:</b><br>
            <%= @coordinator_name %><br>
        </div>
    </div>

    <div class="footer">
        Questions? Simply Reply To This Email!
    </div>
</div>
